<nb-card>
  <nb-card-header>Build your model</nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="example-container col-md-6">
        <div class="container-title">
          <form (ngSubmit)="onSubmit()">
            <input
              type="file"
              class="form-control"
              name="inputfile"
              (change)="onFileSelected($event)"
            />
            <div class="d-flex align-items-start">
              <Button
                nbButton
                status="success"
                size="medium"
                (click)="toggleLoadingAnimation()"
                [nbSpinner]="loading"
                nbSpinnerStatus="info"
                nbSpinnerSize="xsmall"
                [nbSpinnerMessage]="uploading"
                type="submit"
                name="Submit"
                >Upload</Button
              >

              <!-- <i class="nb-checkmark"></i> -->
              <!-- <div>
                <nb-actions size="medium">
                  <nb-action icon="nb-checkmark"></nb-action>
                </nb-actions>
              </div> -->
            </div>
            <span ng-if="result!=''"
              ><label>{{ result }}</label></span
            >
          </form>
          <!-- <nb-select placeholder="NgModel" [(ngModel)]="selectedOption">
            <nb-option value="Naive Bayes">Naive Bayes</nb-option>
            <nb-option value="Logistic Regression">Naive Bayes</nb-option>
          </nb-select> -->
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
