<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h1>Document Loader</h1>
        <form
          action="http://localhost:8000/uploadinput"
          method="post"
          enctype="multipart/form-data"
        >
          <input type="file" name="inputfile" />
          <input
            type="submit"
            name="Submit"
            value="Upload File for Extraction"
          />
        </form>
      </div>
    </div>
  </div>
</div>
