#lightsideLibraries
LightSide/lib/

#OS dependency
LightSide/LightSide.app/

#plugins
LightSide/plugins/

#stanfordlibraries
LightSide/stanford-segmenter-2018-10-16/

#tests
LightSide/tests/

#toolkits
LightSide/toolkits/

#javawebview
LightSide/web/

#wekafiles
LightSide/wekafiles

LightSide/stanford-segmenter-2018-10-16.zip
LightSide/.DS_Store
.DS_Store
LightSide/bin/edu/cmu/.DS_Store
LightSide/bin/edu/cmu/side/.DS_Store

Client/lightside-webapp/.gitignore
Client/e2e
Client/lightside-webapp/node_modules
Client/lightside-webapp/.git
Client/lightside-webapp/.editorconfig