<nb-card>
  <nb-card-header>Build your model</nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="example-container col-md-6">
        <div class="container-title">
          <form (ngSubmit)="onSubmit()">
            <input
              type="file"
              class="form-control"
              name="inputfile"
              (change)="onFileSelected($event)"
            />
            <nb-select
              placeholder="Select Algo"
              [(selected)]="selectedOption"
              status="success"
            >
              <nb-option name="algo" value="naive">Naive Bayes</nb-option>
              <nb-option name="algo" value="logistic"
                >Logistic Regression</nb-option
              >
            </nb-select>
            <div class="d-flex align-items-start">
              <Button
                nbButton
                status="success"
                size="medium"
                (click)="toggleLoadingAnimation()"
                [nbSpinner]="loading"
                nbSpinnerStatus="info"
                nbSpinnerSize="xsmall"
                [nbSpinnerMessage]="uploading"
                type="submit"
                name="Submit"
                >Upload</Button
              >
            </div>
          </form>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
